---

---

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Richard Morse</title>

  <!--------------------------------- Theme ----------------------------------->
  <link rel="stylesheet" href="stylesheets/styles.css">

  <!--------------------------------- Icons ----------------------------------->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
  integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

  <!--------------------------------- Other stuff ----------------------------->
  {%- include common-head.html -%}

  {% seo %}

  {% include analytics.html %}
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>Richard Morse</h1>
      <img src="assets/images/circle.png" alt="Bio Image">

      <div class="social-icons">
        <a class="social-icon" href="mailto:rmillermorse@gmail.com"><i
            class="fa fa-envelope-square"></i></a>
        <a class="social-icon" href="https://www.linkedin.com/in/richard-morse-a4959a179"><i
            class="fa fa-linkedin-square"></i></a>
        <a class="social-icon" href="https://github.com/rmorse7/"><i
            class="fa fa-github-square"></i></a>
        <a class="social-icon" href="https://scholar.google.com/citations?user=FL2tuc8AAAAJ&hl=en"><i
            class="ai ai-google-scholar-square"></i></a>
        <a class="social-icon" href="assets/files/Resume.pdf"><i class="ai ai-cv-square"></i></a>
      </div>

      <br>

    </header>

    <section>
      <h1>Hi, hope you're well!</h1>

      I currently work as a Data Scientist at Boston Consulting Group, where I have
      performed advanced analytics and digital modeling work for clients ranging across
      the consumer, energy, and travel & tourism industries. At BCG, I am 
      lucky to be able to combine my passions for building robust models and
      for implementing high performance systems. 

      <br><br>     

      While at Boston Consulting Group, and earlier in Rice University's 
      Cohan Research Lab, I have employed big data analytics, mathematical optimization 
      and distributed high-performance computing. This work has resulted in efficient data 
      models with wide-ranging applications to sustainability, consumer personalization 
      and healthcare.

      <br><br>

      Broadly, I am passionate about using mathematical analysis to make thoughtful decisions from big data. 
      I'm an excellent communicator and a resourceful problem solver dedicated to
      helping a variety of organizations understand and optimize their choices.
      <br>
      <br>

      <hr>
      <h2>Papers</h2>
      <p>
        <b>Can wind and solar replace coal in Texas?</b> <br>
        <u>Richard Morse</u>, Sarah Salvatore, Joanna H. Slusarewicz & Daniel S. Cohan<br>
        <i>Renewables</i> 9, 1 (2022).<br>
        <a href="https://doi.org/10.1186/s40807-022-00069-2">Paper</a> |
        <a href="https://texasenergysummit.com/previous-winners-malcolm-verdict-memorial-poster-contest/">Poster</a> |
        <a href="https://github.com/rmorse7/Can-wind-and-solar-replace-coal-in-Texas">Code</a> |
        <a href="https://news.rice.edu/news/2022/wind-solar-could-replace-coal-power-texas">News Article</a>
      </p>

      <p>
        <b>Contrast polarity-specific mapping improves efficiency of neuronal computation for collision detection.</b> <br>
        Richard Burkett Dewell, Ying Zhu, Margaret Eisenbrandt, <u>Richard Morse</u>, Fabrizio Gabbiani<br>
        eLife 11:e79772 (2022).<br>
        <a href="https://doi.org/10.7554/eLife.79772">Paper</a> |
        <a href="https://github.com/rmorse7/Fitting-Pinsky-Rinzel-Model-via-Multiple-Shooting">Code</a>
      </p>

      <p>
        <b>Assessment of Air Pollution Impacts and Monitoring Data Limitations of a Spring 2019 Chemical Facility Fire.</b> <br>
        Gretchen T. Goldman, Anita Desikan, <u>Richard Morse</u>, Casey Kalman, Taryn MacKinney, Daniel S. Cohan, Genna Reed, and Juan Parras<br>
        Environmental Justice.Dec 2022.362-372.<br>
        <a href="http://doi.org/10.1089/env.2021.0030">Paper</a> |
        <a href="https://www.houstonchronicle.com/news/houston-texas/houston/article/Harris-County-reaches-900K-settlement-with-ITC-16133897.php">News Article</a>
      </p>
      <hr>

      <h2>Blog Posts</h2>
      {% for post in site.posts %}
      <a href="{{ post.url }}">{{ post.title }}</a><br>
      {{ post.content | strip_html | truncatewords: 18 }}
      <br>
      {% if forloop.last == false %}
        <br>
      {% endif %}
      {% endfor %}

    </section>
    <footer>
      <p><small>Check out this website's source <a
            href="https://github.com/rmorse7/rmorse7.github.io">here</a>!</small><br>
        <small>Hosted on GitHub Pages with Jekyll. <br>
          Homepage theme by <a href="https://github.com/orderedlist">orderedlist</a>.</small>
      </p>
    </footer>
  </div>
  <script src="/javascripts/scale.fix.js"></script>
</body>

</html>